body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP'), url(./fonts/NotoSansJP-Regular.otf) format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP'), url(./fonts/NotoSansJP-Bold.otf) format('opentype');
  font-weight: 700;
}
